[core]
	excludesfile = $HOME/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[transfer]
	fsckObjects = true
[push]
	recurseSubmodules = on-demand
[alias]
	st = status
	di = diff
	co = checkout
	ci = duet-commit --verbose
	c = commit --verbose
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
	rum = rebase master@{u}
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	forget = rm --cached
	wewrotethat = duet-commit --amend --reset-author --verbose
	pullsubs = submodule update --init --recursive
	drb = rebase -i --exec 'git duet-commit --amend --reset-author'
	last = log -1 HEAD
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetupmerge = true
[rebase]
	autosquash = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
[merge]
	conflictstyle = diff3
[grep]
  linenumber = true
[http "https://gopkg.in"]
	followRedirects = true
