
# When pressing up or down arrows,
# show only history entries that match what was already typed
"\e[A":history-search-backward
"\e[B":history-search-forward

# Turn on case insensitivity for tab-completion
# Ex.: type "doc<tab>" to search for "Documents"
set completion-ignore-case On

